body {
  background-color:rgb(51, 51, 51);
}

.PointingBlock div {
 background-color: rgb(136, 183, 213);
 border:  rgb(194, 225, 245) solid 5px;  
 margin-top: 40px;
}
.PointingBlock p{
 color: white;
 text-align: center;  
} 
.PointingBlock div:before{
 content: "";
 position: absolute;
 border: 45px solid transparent;
 border-bottom: 40px solid rgb(194, 225, 245);
 margin-top: -90px;
 left: calc(50% - 40px);
}

.PointingBlock div:after {  
 content: "";
 position: absolute;
 border: 45px solid transparent;
 border-bottom: 40px solid rgb(136, 183, 213);
 margin-top: -133px;
 left: calc(50% - 40px);
}