body{
  background-color: rgb(78, 99, 121);
}
.child{
  float: left;
}

.orange{
  color:  rgb(245, 99, 50);
  text-align: center;
  font-size: small;
}

.price{
  text-align: center;
  font-size: small;
  font-weight: normal;
}

button{
  color: white;
  background-color: rgb(245, 99, 50);
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
  padding: 5px;
  font-size: smaller;  
  border-radius: 2px;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40px;
  height: 40px;
}

table{
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0px 40px 40px rgb(48, 61, 75);
}

th {
  padding-left: 15px;
  padding-right: 15px;
  text-align: left;
  border: 1px solid lightgray;
  border-top:none;
  border-bottom:none;
}

th:first-child, th:last-child{ 
  border-left: none;
  border-right: none;
}



